.features-list {
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 0.03em;
  .feature-box__paragraph {
    line-height: 1.71;
    color: $grey-color;
  }
  .feature-box__title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__list-item {
    &:nth-child(-n + 3) {
      margin-right: 0px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .features-list {
   
    &__list-item {
    &:nth-child(1) {
      margin-right: 30px;
    }
    &:nth-child(3) {
      margin-right: 30px;
    }
  }
  }
}
@media  (min-width: 1200px) {
  .features-list {
  
    &__list-item {
    &:nth-child(-n + 3) {
      margin-right: 30px;
    }
  }
  }
}