.feature-box {
  &__box-svg {
    background-color: $grey-background-color;
    border-radius: 4px;
    width: 450px;
    padding: 25px 190px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .feature-box__paragraph {
    width: 450px;
  }
  &__paragraph {
    color: $grey-color;
  }
  &__title {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .feature-box {
    &__box-svg {
      width: 350px;
      padding: 25px 140px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .feature-box__paragraph {
      width: 350px;
    }
  }
}
@media (min-width: 1200px) {
  .feature-box {
    &__box-svg {
      width: 270px;
      padding: 25px 100px;
      margin-bottom: 30px;
    }
    .feature-box__paragraph {
      width: 270px;
    }
    &__title {
      margin-bottom: 10px;
    }
  }
}
