.page-main {
  .section:nth-child(4) {
    background: $grey-background-color;
    padding: 0px;
  }
  .section:nth-child(2) {
    padding-bottom: 0px;
  }
  &__section-4--background {
    background: $grey-background-color;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media (max-width: 1199px) {
  .section:nth-child(3) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .page-main {
    .section:nth-child(2) {
      padding-bottom: 35px;
      padding-top: 20px;
    }
    &__section-4--background {
      padding-top: 54px;
      padding-bottom: 54px;
    }
  }

  .section:nth-child(5) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-main {
    .section:nth-child(2) {
      padding-bottom: 35px;
      padding-top: 54px;
    }
    &__section-4--background {
      padding-top: 54px;
      padding-bottom: 54px;
    }
  }

  .section:nth-child(5) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
