.page-header {
  position: relative;
  padding: 25px 0px;
  border-bottom: 1px solid $border-color;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    padding-bottom: 10px;
  }
}
