.team {
  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    padding: 30px 0px;
    text-align: center;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__job-title {
    margin-top: 10px;
  }
  &__list {
    margin-top: 50px;
    display: flex;
  }
  &__list-item {
    margin-left: 30px;
  }
  &__span {
    font-weight: 400;
    color: $grey-color;
  }
}
