.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}

.zero {
  margin: 0px;
  padding: 0px;  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
body {
  font-family: $fonts-fam;
  color: $site-color;
}
button,
.social-icons__svg,
.customers__box-svg,
.footer-social__svg {
cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {    
    width: 1200px;
    max-width: none;
  }
}