
  $brandcolor: #2196f3;
  $brand-color-opacity: #2196f3e6;
  $site-color: #212121;
  $white-color: #ffffff;
  $white-color06: #ffffff99;
  $grey-color: #757575;
  $grey-50-color: #75757580;
  $grey-background-color: #f5f4fa;
  $black-color: #000000;
  $black-backdrop-color: #00000033;
  $black-border10-color: #0000001a;
  $panetone-color: #2f303a;
  $panetone-opacity-color: #2f303acc;
  $border-color: #ececec;
  $border-portfolio-color: #eeeeee;
  $icon-base-color: #afb1b8;
  $social-backgroud-footer: #ffffff1a;

  $fonts-fam: 'Roboto', 'Raleway', sans-serif;
  $font-roboto: 'Roboto', sans-serif;
  $font-raleway: 'Raleway', sans-serif;